<div >
    <form class="newRideForm" ng-submit="sendForm()" >
        <div class="input-group row">
            <span class="input-group-addon" id="basic-addon1">Destination</span>
            <input ng-model="destination" type="text" class="form-control" placeholder="Name of city" aria-describedby="basic-addon1">
        </div>
        <div class="input-group row">
            <span class="input-group-addon" id="basic-addon2">Date</span>
            <input ng-model="departureDate" type="date" class="form-control" aria-describedby="basic-addon2">
        </div>
        <div class="input-group row">
            <span class="input-group-addon" id="basic-addon3">Free Space</span>
            <input ng-model="freeSpace" type="number" placeholder="Room in the car" class="form-control" aria-describedby="basic-addon3">
        </div>
        
        <button type="submit" class="center-block" >Display values</button>

    </form>
    
    
    <p>{{departureDate | date:'MM/dd/yyyy'}}</p>
    
</div>